/* Button-Wrapper (falls nötig für click area / positioning) */
#start-button {
    display: inline-block;
    width: min(30%, 160px);
    /* skaliert mit Container: max 220px, bis 30% der Breite */
    aspect-ratio: 3 / 2;
    /* an Bildverhältnis anpassen (z.B. 3:1) oder entfernen */
    touch-action: manipulation;
    cursor: pointer;
    position: absolute;
    top: 58%;
}

#start-button:hover {
    filter:contrast(90%) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.7));
}

/* Bild selbst skaliert sauber in den Wrapper */
#start-button img.start-button {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* oder cover je nach gewünschtem Zuschnitt */
    display: block;
    /* pointer-events: none; */
    /* Klick vom Wrapper abfangen */
}


@media (max-width: 420px) {
    #start-button {
        width: min(46%, 100px);
    }
}